<header class="bg-opacity-50 backdrop-blur-lg bg-blue-600 text-white w-full z-10 fixed top-0">
    <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
        <div class="flex shrink-0 items-center">
            <a href="{{ path('app_home') }}"><img src="{{ asset ('images/logo.png') }}" alt="logo" class="h-10 w-auto"></a>
        </div>

        <nav class="space-x-4">
            <a href="{{ path('app_create_covoiturage') }}" class="hover:text-gray-300">Offres d'accompagnements</a>
            <a href="#{{ path("app_home") }}" class="hover:text-gray-300">Créer une annonce</a>
        </nav>
        <div>
            <img src="{{ asset ('images/user.png') }}" alt="user" class="h-8 w-auto">
        </div>
        <div id="dropdown-menu" class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                {% if app.user %}
                    <a href="{{ path('app_account') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Aperçu du compte</a>
                    <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_register') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">S'inscrire</a>
                    <a href="{{ path('app_login') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Se connecter</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const userIcon = document.querySelector('img[alt="user"]');
        const dropdown = document.getElementById('dropdown-menu');

        let timeout;

        const showDropdown = () => {
            clearTimeout(timeout);
            dropdown.classList.remove('hidden');
        };

        const hideDropdown = () => {
            timeout = setTimeout(() => {
                dropdown.classList.add('hidden');
            }, 200);
        };

        userIcon.addEventListener('mouseenter', showDropdown);
        userIcon.addEventListener('mouseleave', hideDropdown);

        dropdown.addEventListener('mouseenter', showDropdown);
        dropdown.addEventListener('mouseleave', hideDropdown);
    });
</script>


